* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slider-container {
  width: 100vw;
 
}

.slider {
  display: flex;
  /* animation: slide 20s infinite backwards; */
  overflow: scroll;
}

.item {
  flex: 0 0 auto;
  margin-right: 20px; 
  text-align: center;
  text-decoration: none;
  
}


@media (max-width: 428px) {
  .item {
    margin-right: 10px; 
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.advertise img {
  width: 100%;
  margin-top: 10px;

}

.policy img {
  width: 100vw;
  margin-top: 10px;
  height: 8rem;

}
@media only screen 
  and (device-width: 428px) 
  and (device-height: 926px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .advertise img {
        width: 100%;
        height: auto;
        margin-top: 5px; 
       
    }
}
.header {
  display: flex;
  justify-content: space-between;
}
.header h5{
  color: rgb(53 , 53, 67);
  font-weight: 700;
  font-size: 19px;
  font-style: normal;
  line-height: 24px;
  font-family: "Mier bold";
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.header > a{
  text-decoration: none;
  color: purple;
  font-size: 1rem;
}
.header>a > p{
  text-transform: uppercase;
  color: rgb(159,32,137);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  font-family: "Mier bold";
  margin: 0px;
  padding: 0px;
}
.daily-deal {
  padding: 1rem;
  
}

.timer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.timer p {
  bottom: 15px;
}

.timer-box {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border: 2px solid red;
  height: 20px;
  width: 6rem;
  background-color: blanchedalmond;
}

.timer-box p {
  font-size: 0.8rem;
  margin-left: 7px;
  color: red;
}

.timer-box img {
  bottom: 15px;
  width: 20px;
}
.category-title
{
  display: inline;
  text-decoration: none;
  color: black;
  font-size: .8rem;

}

a img{
  text-decoration: none;

}
.category-img{
  display: block;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}
.items
{
  border: 2px solid rgb(206,206,222);
  border-radius: 8px;
  margin: 5px;
  /* aspect-ratio: auto 32/100; */
  object-fit: cover;
  
}
.items img{
  height: 100px;
  width: 100px;
}